# Archivos generados por PyCharm
.idea/

# Archivos generados durante la ejecución
output_images.pdf
output_merged.pdf

# Archivos generados por pyinstaller
*.spec

build/
dist/

# Carpetas de entorno virtual y archivos de caché de Python
__pycache__/